/*
888888
444444
FFFFFF
6E85B8
165170
*/
html
{
background-color:#F5F5F5;
}
body
{
	top:50px;
	bottom:0px;
	left:0;
	margin:0;
	width:100%;
	height:100%;
	z-index:-10;
	font-weight:bold;
	font-size:16px;
	color:#444;
	
	font-family:  'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

	}
a
{
	color:#6E85B8;
	text-decoration:none;
	text-shadow: 0px 1px 0px #FFFFFF;
}
a:visited
{
	color:#165170;
	
}
a.more
{
	position:relative;
	bottom:0px;
	left:1em;
}
.fill_parent
{
	width: 100%;
	height: 100%;
}

p
{
	/*font-family:  'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;*/
}
p.subtext
{
	padding-top:84%;
}
p.event
{
	margin-top:1em;
}
h1
{
	font-size:2.5em;
	margin:0px;
	color:#444;
	text-shadow: 0px 1px 0px #FFFFFF;
}
h2
{
	font-size:2em;
	margin:0px;
	color:#888;
	text-shadow: 0px 1px 0px #FFFFFF;
}
h3
{
	font-size:1.5em;
	margin:0px;
	color:#aaa;
	text-shadow: 0px 1px 0px #FFFFFF;
}
h4
{
	font-size:1.3em;
	text-align:left;
	margin-left:0.8em;
	text-shadow: 0px 1px 0px #FFFFFF;
}
h5
{
	font-size:1.3em;
	text-align:left;
	text-shadow: 0px 1px 0px #FFFFFF;
}
h1.shift
{
	margin-left:0.5em;
}
h4.readable
{
	line-height:1.5em;
	letter-spacing:0em;
	/*font-family:  'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;*/
}
.tag
{
	display:inline;
}
.expandable
{
	visibility:hidden;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
div.full
{
	width:100%;
	height:100%;
}
div.centered
{
	/*background-color: #FFF;*/
	position: relative;
	top:0;
	bottom:0;
	margin-right: auto;
	margin-left: auto;
	/* box-shadow: 4px 4px 7px 4px #888888;
	-webkit-box-shadow: 4px 4px 7px 4px #888888; 
	-moz-box-shadow: 4px 4px 7px 4px #888888; 
	/*border:1px solid black; */
	width:60em;
	height:100%;
	min-height:55em;

}
div.buttonbox
{
	float:left;
	font-size: 2em;
	height: 100%;
	padding-left:1em;
	padding-right:1em;
	/*font-family:   'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;*/
	/* box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888; */
	text-align: center;
	z-index:3;
	border-left:2px solid #bbb;
	
}

div.sideborder
{
	position:absolute;
	top:0%;
	left:-5px;
	width:5px;
	height:100%;
	background-image:url(images/div.png);
	background-repeat:repeat-y;
}
div.sideblock
{
	position:relative;
	width: 100%;
}
div.sidebox
{
	/*float:right;*/
	float:right;
	width:35%;
	height:100%;
	-moz-box-shadow: inset 5px 0 5px -5px #333;  
	-webkit-box-shadow: inset 5px 0 5px -5px #333; 
	box-shadow: inset 5px 0 5px -5px #333;
}

div.mainbox
{
	float:left;
	width:65%;
	padding:0em;
	height:100%;
}
div.post
{
	border:1px solid rgba(136,136,136,0.1);
}

div.oddPost
{
background: -moz-linear-gradient(top, rgba(110,133,184,0.1) 0%, rgba(110,133,184,0.15) 50%, rgba(110,133,184,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,133,184,0.1)), color-stop(50%,rgba(110,133,184,0.15)), color-stop(100%,rgba(110,133,184,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(110,133,184,0.1) 0%,rgba(110,133,184,0.15) 50%,rgba(110,133,184,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(110,133,184,0.1) 0%,rgba(110,133,184,0.15) 50%,rgba(110,133,184,0.1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(110,133,184,0.1) 0%,rgba(110,133,184,0.15) 50%,rgba(110,133,184,0.1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6e85b8', endColorstr='#1a6e85b8',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(110,133,184,0.1) 0%,rgba(110,133,184,0.15) 50%,rgba(110,133,184,0.1) 100%); /* W3C */
padding:1em;
border-left:2px solid #bbb;
}
div.evenPost
{
	padding:1em;
	border-left:2px solid #bbb;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#whiteOverlay
{
	}
#main
{	
 /*box-shadow: 4px 4px 7px 4px #888888;
	-webkit-box-shadow: 4px 4px 7px 4px #888888; 
	-moz-box-shadow: 4px 4px 7px 4px #888888; 
	/*border:1px solid black; */
}

#bar
{
	z-index:3;
	float:left;
	width:60%;
	/*background-color: #aaa;*/
	height:3em;
}

#Logo
{
	height: 3em;	
	font-family: 'Droid Serif', serif;
	font-size: 3.9em;
	text-align: center;
	/*text-shadow: 2px 2px #222; */
	word-spacing: 0em;
	letter-spacing: 0px;
	line-height: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	margin-bottom:0.2em;
	text-shadow: 0px 1px 0px #FFFFFF;
	}
#Calendar
{
	height:13em;
	z-index:1;
	border: 1px solid red;	
}

#Tags
{
	font-family:  'Droid Sans', sans-serif;
	color:#444;
	text-align: center;
}

#bgCanvas
{
	position:absolute;
	z-index:-5;
}

#hideBG
{
	position:fixed;
	bottom:1em;
	right:3em;
	font-family: 'Droid Serif', serif;
	font-size: 0.7em;
	
	
}
#settings
{	
	float:right;
	width:10%;
	height:2.5em;
	right:-13%;
	bottom:1em;
	background-image:url(images/settingsbutton.png);
	background-repeat:no-repeat;
	font-size:0.8em;
	font-weight:normal;
	text-align:center;
	z-index:11;
	display:none;
}
#search
{
	width:100%;
	height:2.5em;
	bottom:10px;
	font-size:0.7em;
	text-align:center;

}
#searchBox
{
	width:90%;
	float:left;
	height:100%;
	margin-left:1.2em;
}
#settingsOverlay
{
	/*background:red; */
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	width:0em;
	height:100%;
}

/* Calendar Widget */
div.CalWidget
{
	position:relative;
	width:100%;
	height:13em;
	text-align: center;
	z-index:1;
	text-align:left;
	color: #444;
	text-indent:1em;
	font-family:  'Droid Sans', sans-serif;
}
p.headline
{
	text-align:left;
	color:#6E85B8;
	width:100%;
	margin:0em;
	font-size:1em;
}
.time
{
	color:#165170;
	display:none;
}

div.CalBar
{
	width:100%;
	height:23%;
/*	background: -moz-linear-gradient(top, rgba(189,195,191,0.2) 0%, rgba(128,145,163,0.2) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,195,191,0.2)), color-stop(100%,rgba(128,145,163,0.2))); 
background: -webkit-linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 100%); 
background: -o-linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 100%);
background: -ms-linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bdc3bf', endColorstr='#808091a3',GradientType=0 );
background: linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 100%); */
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid rgba(136,136,136,0.3);
}

div.MidBar
{
width:100%;
	height:23%;
	/*background: rgba(128,145,163,0.2);*/
	border:1px solid rgba(136,136,136,0.3);
	border-top:0px solid #000;

}

div.BotBar
{
width:100%;
	height:23%;
/*	background: -moz-linear-gradient(top, rgba(128,145,163,0.2) 0%, rgba(189,195,191,0.2) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,145,163,0.2)), color-stop(100%,rgba(189,195,191,0.2))); 
background: -webkit-linear-gradient(top, rgba(128,145,163,0.2) 0%,rgba(189,195,191,0.2) 100%); 
background: -o-linear-gradient(top, rgba(128,145,163,0.2) 0%,rgba(189,195,191,0.2) 100%); 
background: -ms-linear-gradient(top, rgba(128,145,163,0.2) 0%,rgba(189,195,191,0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808091a3', endColorstr='#80bdc3bf',GradientType=0 ); 
background: linear-gradient(top, rgba(128,145,163,0.2) 0%,rgba(189,195,191,0.2) 100%); */

	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid rgba(136,136,136,0.3);
	border-top:0px solid #000;


}
div.Border
{
	border-radius:10px;
	border:1px solid rgba(136,136,136,0.3);
	/*background: -moz-linear-gradient(top, rgba(189,195,191,0.2) 0%, rgba(128,145,163,0.2) 25%, rgba(128,145,163,0.2) 75%, rgba(189,195,191,0.2) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(189,195,191,0.2)), color-stop(25%,rgba(128,145,163,0.2)), color-stop(75%,rgba(128,145,163,0.2)), color-stop(100%,rgba(189,195,191,0.2))); 
background: -webkit-linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 25%,rgba(128,145,163,0.2) 75%,rgba(189,195,191,0.2) 100%);
background: -o-linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 25%,rgba(128,145,163,0.2) 75%,rgba(189,195,191,0.2) 100%); 
background: -ms-linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 25%,rgba(128,145,163,0.2) 75%,rgba(189,195,191,0.2) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bdc3bf', endColorstr='#80bdc3bf',GradientType=0 ); 
background: linear-gradient(top, rgba(189,195,191,0.2) 0%,rgba(128,145,163,0.2) 25%,rgba(128,145,163,0.2) 75%,rgba(189,195,191,0.2) 100%); */
	
	
}